body{
    background-color: lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 40px;
    height: 100%;
    width: 100%;
}



/* NAVBAR */
.flex-navbar{
    /* flex con los elementos en el centro y el mismo navbar en el centro */
    display: flex;
    justify-content: center;
    /* justify-content: start; */
    /* align-items: start; */
    /* 10% entre cada elemento del navbar */
    gap: 10%;
    background-color:  #005f73;
    padding: 10px 20px;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 100;
    width: 90%;
    
}

header{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}




/* BOTONES DEL NAVBAR */
.nav-item{
    color: #f8f9fa;
    /* quitando underline */
    text-decoration: none;

    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px ;
}

.nav-item:hover{
    /* un azulito mas oscuro */
    background-color: #0a9396; 
    /* el texto un cremita */
    color: #ffe5b4;
}

/* LINEA QUE SEPARA NAVBAR DE TODO */
.line{
    border: none;
    height: 2px;
    background-color: #ffe5b4;
    margin: 10px auto;
    width: 80%;
}

