.emoji{
    height: auto;
    max-width: 250px;
    width: 100%;
    margin: 3%;
}


.form-flex{
    display: flex;
    padding: 10px;
    gap: 20px;
    flex-wrap: wrap;
}


.inputs{
    margin-left: 10px;
    margin-right: 10px;
    flex: 1 1 100%;
    flex-grow: 1;
    min-width: 150px;
}
